<div id="header"></div>
<div id="menuicone" onclick="openNav()"><img src="img/menuicon.png" alt=""></div>
<div id="titulo" ng-repeat="cat in categories | limitTo:1" ng-style="background-color:{{cat.cor}}">{{cat.titulo}}</div>
<div id="espaco"></div>

<div id="conteudo" >    
     <div class="tabsmeio" ng-repeat="cat in categories | limitTo:1" ng-style="background-color:{{cat.cor}}">
               <div class="tabesquerda"></div>
               <div class="tabcentro"></div>
               <div class="tabdireita"></div>
          </div>
          <div id="espacomensagem"></div>
     <div class="comercios">
          <div class="imagemcomercio"><img src="img/img.png" alt=""></div>
          <div class="nomecomercio">Nome local</div>
          <div class="enderecocomercio">Endereço: </div>
          <div class="telefonecomercio">Telefone: </div>
          <div class="avaliacaocomercio">Avaliação: 1-2-3-4-5</div>
           <div class="avaliacaocomercion">65 </div>
     </div>

</div>