<div id="header" ng-style="{'background-color':'#7db1d5'}"></div>
<div id="menuicone" onclick="openNav()"><img src="img/menuicon.png" alt=""></div>
<div id="titulo">Social</div>
<div id="espaco"></div>
<div id="mensagem"><p>Faça um tweet utilizando a hashtag #appwhereis e apareça no nosso feed: </p></div>
<div id="espacomensagem"></div>
<div id="conteudo" >          

<div id="social"class="social">
          <iframe ng-src="views/twitter.html" frameborder="no" ></iframe>
	</div>
</div>

<div id="tabs">
     <div id="tabcategoria" class="tabs" ng-style="{'background-color':'#7db1d5'}">
          <input name="tabs_principal" type="radio" id="categoria" >
          <label for="categoria" onClick="document.location='#/categories/';">Categoria</label>
     </div>
     <div id="tablocais" class="tabs" ng-style="{'background-color':'#7db1d5'}">
          <input name="tabs_principal" type="radio" id="locais" disabled>
          <label for="locais" >Locais</label>
     </div>
     <div id="tabsocial" class="tabs" ng-style="{'background-color':'#7db1d5'}">
          <input name="tabs_principal" type="radio" id="social" checked>
          <label for="social" onClick="document.location='#/social/';">Social</label>
     </div>
</div>