<div id="header"></div>
<div id="menuicone" onclick="openNav()"><img src="img/menuicon.png" alt=""></div>
<div id="titulo" ng-repeat="cat in categories | limitTo:1" >{{cat.titulo}}</div>
<div id="espaco"></div>
<div id="mensagem"><p>Faça um tweet utilizando a hashtag #appwhereis e apareça no nosso feed: </p></div>
<div id="espacomensagem"></div>
<div id="conteudo" >             
	<div class="social">
		<div class="fototwitter"><img src="img/img.png" alt=""></div>
	    <div class="nometwitter">André Assunção</div>
	    <div class="usertwitter">@theconehard</div>
	    <div class="horatweet">1m</div>
	    <div class="tweet">Porra, como faço os testes aqui sendo que o servidor está caindo. Desse jeito fica foda né, puta que pariu nessa porra de Hostinger!!</div>
	</div>
</div>