@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
    margin:0px; 
    background-color: #d0d0d0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#header{
    width: 100%;
    height: 60px;
    background-color: #3d9d7d;
    top:0;
    position: fixed;
    z-index: 1;
}
#espaco{
    position: relative;
    width: 100%;
    height: 60px;
}
#espacomensagem{
    position: relative;
    width: 100%;
    height: 50px;
}
#conteudo{
    position: relative;
    width: 100%;
    top: 0;
    height: auto;
}
#conteudo a{
    color: #000;
    text-decoration: none;
}
#titulo{
    top:0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 14%;
    position: fixed;
    z-index: 1;
}


/*INICIO CSS INICIO*/
#inicio{
    
}


/*FIM CSS INICIO*/

/*INICIO CSS CATEGORIAS*/
#mensagem{
    width: 100%;
    height: 50px;
    background-color: #a9aea9;
    position: fixed;
    z-index: 1;
}


#mensagem p{
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    margin-left: 2%;
}

.categoria{
    position: relative;
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.categoria a{
    text-decoration: none;
    
}
.imagemcategoria img{
    width: 31%;
    height: auto;
    position: relative;
    border-right: 1px solid #000;
    margin-bottom: -4px; 
}

.nomecategoria{
    margin-left: 35%;
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    color: #000;
}


.descricao{
    margin-left: 35%;
    font-family: 'Roboto', sans-serif;
    color: #ababab;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 6%;
}
/*FIM CSS CATEGORIAS*/
 
/*INICIO CSS MENU LATERAL*/
.sidenav{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
    position: relative;   
}

.sidenav a img{
     
   transition: 0.3s
}

.sidenav a span{

    text-decoration: none;
    font-size: 25px;
    color: #000;
    margin-right: 30%;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menuicone{
   
    width: 30px;
    height: 28px;
    top:0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 2%;
    position: fixed;
    z-index: 1;
}
/*FIM CSS MENU LATERAL*/

/*INICIO CSS DAS TABS INFERIORES*/
#tabs{
    width: 100%;
    height: 34px;
    background-color: #3d9d7d;
    bottom:0;
    position:fixed;
}  
#tabcategoria{
    margin-right: 0%;
}

#tablocais{  
    margin-left: 33.33%;
}

#tabsocial{
    margin-left: 66.66%;
}
 
.tabs{
    min-width: 33.33%;
    max-width: 33.33%;
    min-height: 100%;
    background-color: #3d9d7d;
    position: absolute;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    font-family: 'Roboto', sans-serif;  
}

.tabs label{  
    background-image: url(../img/false.png);
    background-repeat: no-repeat;
    background-size: 25px 23px;
    bottom: 0px;
    cursor: pointer;
    font-size: 0;
    left: 39%;
    position: absolute;
    right: 0px;
    top: 20%;
}

.tabs input{
  display: none;
}

.tabs input:checked + label:after {
  background: url(../img/true.png);
  background-repeat: no-repeat;
  background-size: 25px 23px;
  content: ""; 
  height: 28px;
  position: absolute;
  right: 47%;
  width: 30px;
  top: 0px;
  left: 0px;
}
/*FIM CSS DAS TABS INFERIORES*/

/*INICIO CSS SOCIAL*/
.social{
    background-color: #fff;
    width: 100%;
    
    min-height: 20%;
    position: relative;
}
.social iframe{
    overflow: hidden;
    height: 800px;
    width: 100%;

}


/*FIM CSS SOCIAL*/

/*INICIO CSS COMERCIO*/
.comercios{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.tabsmeio{
    width: 100%;
    height: 50px;
    max-height: 50px;
    background-color: #c7222c;
    position: fixed;
    z-index: 1;
}
.imagemcomercio img{
    width: 31%;
    height: auto;
    position: relative;
    border-right: 1px solid #000;
    margin-bottom: -4px; 
}
.nomecomercio{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 2%;
    margin-left: 35%;
}
.enderecocomercio{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 7%;
    margin-left: 35%;
}
.telefonecomercio{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 12%;
    margin-left: 35%;
}
.avaliacaocomercio{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 17%;
    margin-left: 35%;
}

.avaliacaocomercio img{
    height: 21px;
    width: 65px;
    position: relative;
    margin-bottom: -4%;
}
.avaliacaocomercion{
    font-family: 'Roboto', sans-serif;
    height: auto;
    font-size: 12px;
    position: absolute;
    top: 0;
    margin-top: 18%;
    margin-left: 80%;
}


.tabesquerda{
    margin-left: 0%;
}
.tabcentroesquerda{
    margin-left: 25%;
}

.tabcentrodireita{  
    margin-left: 50%;
}

.tabdireita{
    margin-left: 75%;
}

.tabsmid{
    min-width: 25%;
    max-width: 25%;
    min-height: 100%;
    max-height: 50px;
    background-color: #3d9d7d;
    position: absolute;
    border-top: 1px solid #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}

#loadingimg{
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-top: 45%;
}

/*FIM CSS COMERCIO*/

/*INICIO CSS INICIO*/
#iniciomapa{

}

#iniciomapa iframe{
    z-index: -500;
    position: relative;
    overflow: hidden;
}

#divcimamapa{
    min-height: 500px;
    height: 600px;
    opacity: 0.9;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-color: #3d9d7d;
    cursor: pointer;
    overflow: hidden;
}
#divcimamapa a{
    text-decoration: none;
    color: #000
}
#vercategorias{
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 50%;
    

    background-color: #fff;
}
#vercategorias p{
    padding-top: 4%;
    font-family: 'Roboto', sans-serif;
    
}
/*FIM CSS INICIO*/

/*INICIO CSS EVENTOS*/

.imagemevento img{
    width: 31%;
    height: auto;
    position: relative;
    border-right: 1px solid #000;
    margin-bottom: -4px; 
}
.nomeevento{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 2%;
    margin-left: 35%;
}
.localevento{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 7%;
    margin-left: 35%;
}
.enderecoevento{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 7%;
    margin-left: 35%;
}
.dataevento{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 7%;
    margin-left: 35%;
}
.precoeevento{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 12%;
    margin-left: 35%;
}
.ondecomprarevento{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 17%;
    margin-left: 35%;
}
.publicoevento{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 17%;
    margin-left: 35%;
}
.informacoesventos{
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 17%;
    margin-left: 35%;
}



/*FIM CSS COMERCIO*/