@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    margin:0px; 
}
#header{
    width: 100%;
    height: 60px;
    background-color: #3d9d7d;
    top:0;
    position: relative;
}

#titulo{
    top:0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 10%;
    position: absolute;
}

#mensagem{
    width: 100%;
    height: 50px;
    background-color: #a9aea9;
    position: relative;
 
}

#mensagem p{
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-left: 2%;
}

.categoria{
    position: relative;
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid #000;
}

.imagemcategoria img{
    width: 31%;
    height: auto;
    position: relative;
    border-right: 1px solid #000;
    margin-bottom: -4px; 
}

.nomecategoria{
    margin-left: 35%;
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: absolute;
    top: 0;
}

.descricao{
    margin-left: 35%;
    font-family: 'Roboto', sans-serif;
    color: #ababab;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 6%;
}

#tabs{
    width: 100%;
    height: 50px;
    background-color: #3d9d7d;
    bottom:0;
    position:absolute;
}   

.sidenav{
    font-family: 'Roboto', sans-serif;
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menuicone{
    background-image: url('../img/menuicon.png');
    width: 30px;
    height: 28px;
    top:0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
}